apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: alertmanager-stripprefix
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  stripPrefix:
    prefixes:
      - /alertmanager
