core:
  k3s:
    enabled: true
    # Important for K3s/Containerd
    runtimePath: /run/k3s/containerd/containerd.sock

  controller:
    replicas: 2
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        maxSurge: 1
    pvc:
      enabled: false
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-class
                  operator: In
                  values: ["homeserver"]

  manager:
    ingress:
      enabled: true
      className: traefik
      host: neuvector.k3s.gillouche.homelab
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web
        traefik.ingress.kubernetes.io/router.middlewares: security-authelia@kubernetescrd
        traefik.ingress.kubernetes.io/service.serversscheme: https
        traefik.ingress.kubernetes.io/service.serverstransport: neuvector-insecure@kubernetescrd
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-class
                  operator: In
                  values: ["homeserver"]

  cve:
    scanner:
      enabled: true
      replicas: 2
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-class
                    operator: In
                    values: ["homeserver"]
      # Tune for Pi performance

  enforcer:
