apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    notifications.argoproj.io/subscribe.on-sync-failed.webhook.discord-infra: ""
    notifications.argoproj.io/subscribe.on-health-degraded.webhook.discord-infra: ""
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: infra-base
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 39.0.2
    helm:
      values: |
        deployment:
          replicas: 3
          rollingUpdate:
            maxUnavailable: 1
            maxSurge: 1
        ports:
          traefik:
            port: 9999
            expose:
              default: false
          web:
            port: 9000
            expose:
              default: true
            exposedPort: 9000
            protocol: TCP
            forwardedHeaders:
              trustedIPs:
                - 192.168.0.253
                - 192.168.0.0/24
                - 10.42.0.0/16
                - 10.43.0.0/16
          websecure:
            port: 9443
            expose:
              default: false
            exposedPort: 9443
            protocol: TCP
            forwardedHeaders:
              trustedIPs:
                - 192.168.0.0/24
                - 10.42.0.0/16
                - 10.43.0.0/16
        service:
          enabled: true
          type: LoadBalancer
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - traefik
                  topologyKey: kubernetes.io/hostname
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-class
                      operator: In
                      values: ["homeserver"]
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
