apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: homepage
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: homepage
  template:
    metadata:
      labels:
        app: homepage
    spec:
      serviceAccountName: homepage
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-class
                    operator: In
                    values: ["homeserver"]
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values: ["homepage"]
                topologyKey: "kubernetes.io/hostname"
      initContainers:
        - name: init-config
          image: busybox:latest
          command: ['sh', '-c', 'cp -L /app/config-ro/* /app/config/']
          volumeMounts:
            - name: config-ro
              mountPath: /app/config-ro
            - name: config
              mountPath: /app/config
      containers:
        - name: homepage
          image: ghcr.io/gethomepage/homepage:v1.9.0
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: config
              mountPath: /app/config
          env:
            - name: HOMEPAGE_ALLOWED_HOSTS
              value: "*"
            - name: LOG_LEVEL
              value: "debug"
      volumes:
        - name: config-ro
          configMap:
            name: homepage-config
        - name: config
          emptyDir: {}
