apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ui
  namespace: longhorn-system
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
    cert-manager.io/cluster-issuer: vault-issuer
    cert-manager.io/common-name: longhorn.k3s.gillouche.homelab
spec:
  tls:
  - hosts:
    - longhorn.k3s.gillouche.homelab
    secretName: longhorn-tls
  rules:
  - host: longhorn.k3s.gillouche.homelab
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: longhorn-frontend
            port:
              number: 80