apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 26.1.0
    helm:
      values: |
        ports:
          traefik:
            port: 9999
            expose: false
          web:
            port: 9000
            expose: true
            exposedPort: 9000
            protocol: TCP
          websecure:
            port: 9443
            expose: true
            exposedPort: 9443
            protocol: TCP
        service:
          enabled: true
          type: LoadBalancer
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
