apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingresses
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "9"
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default
  source:
    repoURL: https://github.com/gillouche/home-cluster-gitops.git
    targetRevision: HEAD
    path: resources/infra-ingresses
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
