# NVIDIA Device Plugin Values (Wrapper)
nvidia-device-plugin:
  # Capability to support ARM64 / Tegra (Jetson) or standard discrete GPUs
  image:
    repository: nvcr.io/nvidia/k8s-device-plugin
    tag: v0.18.1

  # Enable compatibility checks
  compatibility:
    rollingUpdate:
      maxUnavailable: 1

  # Resource management
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
    limits:
      cpu: 50m
      memory: 50Mi



  # Node Selector to ensure it only runs on GPU nodes
  nodeSelector:
    kubernetes.io/accelerator: nvidia


