# NVIDIA Device Plugin Values (Wrapper)
nvidia-device-plugin:
  # scheduler reserves resources for critical add-on pods so that they can
  # be rescheduled after a failure.
  # See https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/
  priorityClassName: "system-node-critical"

  runtimeClassName: nvidia
  # Capability to support ARM64 / Tegra (Jetson) or standard discrete GPUs
  image:
    repository: nvcr.io/nvidia/k8s-device-plugin
    tag: v0.14.5

  # Enable compatibility checks
  compatibility:
    rollingUpdate:
      maxUnavailable: 1

  # Resource management
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
    limits:
      cpu: 50m
      memory: 50Mi



  # Node Selector to ensure it only runs on GPU nodes
  nodeSelector:
    kubernetes.io/accelerator: nvidia


