image:
  repository: authelia/authelia
  tag: v4.38.0

pod:
  replicas: 1 # Enforce 1 replica for SQLite safety
  securityContext:
    fsGroup: 1000
    runAsUser: 1000
    runAsGroup: 1000

  extraVolumes:
    - name: authelia-secrets
      secret:
        secretName: authelia-secrets
    - name: user-database
      secret:
        secretName: authelia-secrets
        items:
          - key: users_database.yml
            path: users_database.yml

  extraVolumeMounts:
    - name: authelia-secrets
      mountPath: /secrets/jwt_secret
      subPath: jwt_secret
      readOnly: true
    - name: authelia-secrets
      mountPath: /secrets/session_secret
      subPath: session_secret
      readOnly: true
    - name: authelia-secrets
      mountPath: /secrets/storage_encryption_key
      subPath: storage_encryption_key
      readOnly: true
    - name: user-database
      mountPath: /config/users_database.yml
      subPath: users_database.yml
      readOnly: true

persistence:
  enabled: true
  size: 1Gi
  accessModes:
    - ReadWriteOnce

# All Authelia Configuration goes under configMap
configMap:
  authentication_backend:
    file:
      path: /config/users_database.yml
      watch: true

  access_control:
    default_policy: deny
    rules:
      - domain: "auth.gillouche.homelab"
        policy: bypass
      - domain: "*.gillouche.homelab"
        policy: one_factor

  session:
    redis:
      host: authelia-redis-master
      port: 6379
      password_file: /secrets/session_secret
  
  storage:
    encryption_key: /secrets/storage_encryption_key
    local:
      path: /config/db.sqlite3

  notifier:
    filesystem:
      filename: /config/emails.txt

  identity_validation:
    reset_password:
      jwt_secret: /secrets/jwt_secret

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  # Using rulesOverride because 'hosts' key is disallowed in this chart schema
  rulesOverride:
    - host: auth.gillouche.homelab
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: authelia
                port:
                  number: 80

# Redis Subchart
redis:
  enabled: true
  auth:
    enabled: true
    existingSecret: authelia-secrets
    existingSecretPasswordKey: session_secret
  architecture: standalone
  master:
    persistence:
      enabled: false
