image:
  repository: authelia/authelia
  tag: v4.38.0

pod:
  replicas: 1
  kind: Deployment
  
  securityContext:
    pod:
      fsGroup: 1000
      runAsUser: 1000
      runAsGroup: 1000
    container:
      runAsUser: 1000
      runAsGroup: 1000
  
  # Only custom volumes here (database). Secrets are handled by 'secret' block below.
  extraVolumes:
    - name: user-database
      secret:
        secretName: authelia-secrets
        items:
          - key: users_database.yml
            path: users_database.yml

  extraVolumeMounts:
    - name: user-database
      mountPath: /config/users_database.yml
      subPath: users_database.yml
      readOnly: true

persistence:
  enabled: true
  size: 1Gi
  accessModes:
    - ReadWriteOnce

secret:
  # Enable native secret mounting
  existingSecret: authelia-secrets

configMap:
  # Explicitly set server path to empty string (root) to match Ingress
  server:
    path: ""

  authentication_backend:
    file:
      path: /config/users_database.yml
      watch: true

  access_control:
    default_policy: deny
    rules:
      - domain: "auth.gillouche.homelab"
        policy: bypass
      - domain: "*.gillouche.homelab"
        policy: one_factor

  session:
    # Required for Ingress validation and App logic
    encryption_key:
      path: session_secret
    cookies:
      - domain: gillouche.homelab
        subdomain: auth
    redis:
      host: authelia-redis-master
      port: 6379
      password:
        # Relative path within /secrets provided by 'secret' block
        path: session_secret
        disabled: false
  
  storage:
    encryption_key:
      # Relative path within /secrets provided by 'secret' block
      path: storage_encryption_key
    postgres:
      enabled: true
      address: 'tcp://192.168.0.247:15432'
      database: authelia
      username: authelia
      password:
        path: postgres_password
    local:
      enabled: false
      path: /config/db.sqlite3

  notifier:
    filesystem:
      filename: /config/emails.txt

  identity_validation:
    reset_password:
      jwt_lifespan: '5 minutes'
      jwt_algorithm: 'HS256'
      secret:
        # Relative path within /secrets provided by 'secret' block
        path: jwt_secret
        disabled: false

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  # Simplifed rulesOverride structure as per chart template
  rulesOverride:
    - host: auth.gillouche.homelab
      path: "/"

redis:
  enabled: true
  auth:
    enabled: true
    existingSecret: authelia-secrets
    existingSecretPasswordKey: session_secret
  architecture: standalone
  master:
    persistence:
      enabled: false
