podSecurityContext:
  fsGroup: 1000

image:
  repository: authelia/authelia
  tag: v4.38.0

configMap:
  # Configuration for Authelia
  jwt:
    secret:
      name: authelia-secrets
      key: jwt_secret
  
  session:
    secret:
      name: authelia-secrets
      key: session_secret
    redis:
      host: authelia-redis-master
      port: 6379
      password:
        secret:
          name: authelia-secrets
          key: session_secret

  storage:
    encryption_key:
      name: authelia-secrets
      key: storage_encryption_key
    local:
      path: /config/db.sqlite3

  authentication_backend:
    file:
      path: /config/users_database.yml
      watch: true

  access_control:
    default_policy: deny
    rules:
      - domain: "auth.gillouche.homelab"
        policy: bypass
      - domain: "*.gillouche.homelab"
        policy: one_factor

volumes:
  - name: user-database
    secret:
      secretName: authelia-secrets
      items:
        - key: users_database.yml
          path: users_database.yml

volumeMounts:
  - name: user-database
    mountPath: /config/users_database.yml
    subPath: users_database.yml
    readOnly: true

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
     - host: auth.gillouche.homelab
       paths:
         - path: /
           pathType: Prefix

redis:
  enabled: true
  auth:
    enabled: true
    existingSecret: authelia-secrets
    existingSecretPasswordKey: session_secret
  architecture: standalone
  master:
    persistence:
      enabled: false
