image:
  repository: authelia/authelia
  tag: v4.38.0

pod:
  replicas: 1
  
  securityContext:
    pod:
      fsGroup: 1000
      runAsUser: 1000
      runAsGroup: 1000
    container:
      runAsUser: 1000
      runAsGroup: 1000
  
  extraVolumes:
    - name: authelia-secrets
      secret:
        secretName: authelia-secrets
    - name: user-database
      secret:
        secretName: authelia-secrets
        items:
          - key: users_database.yml
            path: users_database.yml

  extraVolumeMounts:
    - name: authelia-secrets
      mountPath: /secrets/jwt_secret
      subPath: jwt_secret
      readOnly: true
    - name: authelia-secrets
      mountPath: /secrets/session_secret
      subPath: session_secret
      readOnly: true
    - name: authelia-secrets
      mountPath: /secrets/storage_encryption_key
      subPath: storage_encryption_key
      readOnly: true
    - name: user-database
      mountPath: /config/users_database.yml
      subPath: users_database.yml
      readOnly: true

persistence:
  enabled: true
  size: 1Gi
  accessModes:
    - ReadWriteOnce

configMap:
  # Explicitly set server path to empty string (root) to match Ingress
  server:
    path: ""

  authentication_backend:
    file:
      path: /config/users_database.yml
      watch: true

  access_control:
    default_policy: deny
    rules:
      - domain: "auth.gillouche.homelab"
        policy: bypass
      - domain: "*.gillouche.homelab"
        policy: one_factor

  session:
    redis:
      host: authelia-redis-master
      port: 6379
      password:
        path: /secrets/session_secret
        disabled: false
  
  storage:
    encryption_key:
      path: /secrets/storage_encryption_key
    local:
      path: /config/db.sqlite3

  notifier:
    filesystem:
      filename: /config/emails.txt

  identity_validation:
    reset_password:
      jwt_lifespan: '5 minutes'
      jwt_algorithm: 'HS256'
      secret:
        path: /secrets/jwt_secret
        disabled: false

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  # Simplifed rulesOverride structure as per chart template
  rulesOverride:
    - host: auth.gillouche.homelab
      path: "/"

redis:
  enabled: true
  auth:
    enabled: true
    existingSecret: authelia-secrets
    existingSecretPasswordKey: session_secret
  architecture: standalone
  master:
    persistence:
      enabled: false
