apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 38.0.1
    helm:
      values: |
        ports:
          traefik:
            port: 9999
            expose:
              default: false
          web:
            port: 9000
            expose:
              default: true
            exposedPort: 9000
            protocol: TCP
          websecure:
            port: 9443
            expose:
              default: true
            exposedPort: 9443
            protocol: TCP
        service:
          enabled: true
          type: LoadBalancer
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-class
                      operator: In
                      values: ["rpi5"]
                    - key: storage
                      operator: In
                      values: ["ssd", "sdcard"]
                    - key: reliability
                      operator: In
                      values: ["best-effort", "stable"]
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
