apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config-map
  namespace: renovate
data:
  config.js: |
    module.exports = {
      platform: 'github',
      autodiscover: false,
      onboarding: false,
      requireConfig: false,

      prCreation: 'immediate',

      webhook: {
        url: 'http://renovate-discord-relay.renovate.svc.cluster.local:3000/renovate',
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      }
    };
