apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config-map
  namespace: renovate
data:
  config.js: |
    module.exports = {
      platform: 'github',
      autodiscover: false,
      onboarding: false,
      requireConfig: false,

      prCreation: 'immediate',
      
      allowedPostUpgradeCommands: ['^curl'],
      
      packageRules: [
        {
          matchPackagePatterns: ['*'],
          postUpgradeTasks: {
            commands: [
              `curl -X POST http://renovate-discord-relay.renovate.svc.cluster.local:3000/renovate \
               -H "Content-Type: application/json" \
               -d '{"depName":"' + process.env.RENOVATE_DEP_NAME + '","currentVersion":"' + process.env.RENOVATE_CURRENT_VERSION + '","newVersion":"' + process.env.RENOVATE_NEW_VERSION + '"}'`
            ],
            executionMode: 'branch'
          }
        }
      ]
    };
