apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config-map
  namespace: renovate
data:
  config.js: |
    module.exports = {
      platform: 'github',
      autodiscover: false,
      onboarding: false,
      requireConfig: false,

      prCreation: 'immediate',
      
      allowedPostUpgradeCommands: ['^curl', '^env', '^echo'],
      
      packageRules: [
        {
          matchPackagePatterns: ['*'],
          postUpgradeTasks: {
            commands: [
              "env",
              "curl -X POST http://renovate-discord-relay.renovate.svc.cluster.local:3000/renovate \
              -H 'Content-Type: application/json' \
              -d \"{\\\"depName\\\":\\\"$RENOVATE_DEP_NAME\\\",\\\"currentVersion\\\":\\\"$RENOVATE_CURRENT_VERSION\\\",\\\"newVersion\\\":\\\"$RENOVATE_NEW_VERSION\\\"}\""
            ],
            executionMode: 'branch'
          }
        }
      ]
    };
