apiVersion: v1
kind: ConfigMap
metadata:
  name: renovate-config-map
  namespace: renovate
data:
  config.js: |
    module.exports = {
      platform: 'github',
      autodiscover: false,
      onboarding: false,
      requireConfig: false,

      prCreation: 'immediate',
      
      allowedPostUpgradeCommands: [],
      
      packageRules: [
        {
          matchPackagePatterns: ['*']
        }
      ]
    };
