resources:
  operator:
    requests:
      cpu: 100m
      memory: 100Mi
  metricsServer:
    requests:
      cpu: 100m
      memory: 100Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-class
              operator: In
              values: ["homeserver"]
